{% extends 'base.html.twig' %}
{% block head %}
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>WASTEELS Louka</title>
    
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>
  {% endblock %}


{% block body %}
    <h1>CONTACTEZ-MOI!</h1>
    <div class="container">

        {{ form_start(formulaire) }}
        <div class="form-top">
            {{ form_widget(formulaire.nom, {'attr':{'class': 'InputTop'}}) }}
            {{ form_widget(formulaire.prenom, {'attr':{'class': 'InputTop'}}) }}
        </div>
        <div class="form-bottom">
            {{ form_widget(formulaire.email, {'attr':{'class': 'InputBottom'}}) }}
            {{ form_widget(formulaire.message, {'attr':{'class': 'TextareaBottom'}}) }}
        </div>
            {{ form_rest(formulaire) }}
            <button type="submit" class="btnEnvoyer">Envoyer</button>
            <a href="/" class="retour">Retour</a>
        {{ form_end(formulaire) }}
    </div>

{% endblock %}
